@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Nunito Sans";
}

.text-balance {
    text-wrap: balance;
}
a{
    /* add tailwind color secondary */
    color: #AECC53;
    text-decoration: underline;
}