---
import BigNav from "./BigNav.astro";
import SmallNav from "./SmallNav";
---

<div>
  <div class="hidden fixed left-1/2 tranform -translate-x-1/2 lg:block z-50">
    <BigNav />
  </div>

  <div class="block lg:hidden">
    <SmallNav client:idle />
  </div>
</div>
