---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout isSimple>
  <header
    class=" md:pt-20 flex flex-col items-center justify-center"
  >
    <img src="/assets/images/logo.svg" alt="Carbon Hack logo" />
    <div class="mt-8 text-center text-primary-lightest-2 lg:w-9/12 lg:mx-auto">
      <h1 class="mt-4 text-3xl md:text-4xl lg:text-5xl font-extrabold text-secondary">
        Congratulations!
      </h1>
      <p class="mt-4 text-sm lg:text-base font-medium">
        Join the next Prep and Q&A Session to learn more about Impact Framework, who's hacking, project ideas, and registration!
      </p>

      <a
        class="mt-4 inline-block py-3 px-6 no-underline bg-secondary hover:bg-secondary-light text-primary-darkest text-sm font-bold rounded-md focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-primary-darkest transition-all duration-300 ease-in-out"
        href="https://grnsft.org/hack/live/landing-page"
        target="_blank"
      >
        Join us
      </a>
    </div>
  </header>
</BaseLayout>
