<section id="about">
  <div
    class="relative my-12 md:my-16 lg:my-10 p-10 text-center bg-primary-dark rounded-md"
  >
    <div class="max-w-xl mx-auto w-full">
      <h1
        class="text-2xl lg:text-3xl text-primary-lightest-2 font-black uppercase flex flex-col gap-3"
      >
        About
        <a
          href="https://greensoftware.foundation"
          class="no-underline"
          target="_blank"
          rel="noopener noreferrer">Green Software Foundation</a
        >
      </h1>

      <p class="mt-8 text-sm lg:text-base text-primary-lightest-2">
        The <a
          href="https://greensoftware.foundation"
          target="_blank"
          rel="noopener noreferrer">Green Software Foundation</a
        > is a non-profit organisation and part of the Linux Foundation. Our
        mission is to build a trusted ecosystem of people, standards, tooling
        and best practices for creating and building green software. Head over
        to greensoftware.foundation to find out more about our working groups
        and projects.
      </p>
    </div>
    <img
      class="absolute -top-6 -right-8 hidden md:block md:w-2/12 xl:w-fit"
      src="/assets/images/about-artwork-top.svg"
    />
    <img
      class="absolute -bottom-6 -left-8 hidden md:block md:w-2/12 xl:w-fit"
      src="/assets/images/about-artwork-bottom.svg"
    />
  </div>
</section>
