---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="mt-28 pb-10 text-center items-center justify-center">
    <hr class="border-primary-dark w-7/12 m-auto" /><img
      class="mx-auto mt-16"
      src="/assets/images/footer-logo.svg"
      alt="Footer Logo"
    /><p class="mt-4 text-primary-light text-sm">
      <a
        class="underline text-white hover:text-primary-light/80 transition-all duration-300 ease-in-out"
        href="https://greensoftware.foundation/policy/terms">Privacy Policy</a
      >
       |
      <a
        class="underline text-white hover:text-primary-light/80 transition-all duration-300 ease-in-out"
        href="https://greensoftware.foundation/code-of-conduct"
      >
        Code of Conduct</a
      >
    </p><p class="text-primary-light mt-2 text-sm">
      Copyright © {currentYear} Joint Development Foundation Projects, LLC, <br
      /> Green Software Foundation Series
    </p>
  </div>
</footer>
