<section id="q&a-session">
  <div
    class="relative my-12 md:my-16 lg:my-10 p-10 text-center bg-primary-dark rounded-md"
  >
    <div class="max-w-xl mx-auto w-full">
      <h1
        class="text-2xl lg:text-3xl text-primary-lightest-2 font-black uppercase flex flex-col gap-3"
      >
        Hackathon Prep
        <span class="text-secondary">Q&A Session</span>
      </h1>

      <p class="mt-8 text-sm lg:text-base text-primary-lightest-2">
        Join us every <strong id="time"></strong> for our regular livestream which
        explains how the Impact Framework works and shares hack project ideas.
      </p>

      <a
        href="https://grnsft.org/hack/live/landing-page"
        target="_blank"
        rel="noopener noreferrer"
        class="no-underline mt-8 inline-block py-3 px-6 bg-secondary hover:bg-secondary-light text-primary-darkest text-sm font-bold rounded-md focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-primary-darkest transition-all duration-300 ease-in-out"
      >
        Join us
      </a>
    </div>
  </div>
</section>
<script>
  // Function to get next Monday
  function getNextMonday() {
    const today = new Date();
    const nextMonday = new Date();
    nextMonday.setDate(today.getDate() + ((1 + 7 - today.getDay()) % 7 || 7));
    nextMonday.setHours(14, 30, 0);
    nextMonday.setMinutes(
      nextMonday.getMinutes() - nextMonday.getTimezoneOffset()
    );
    return nextMonday;
  }

  // Select the element with id "time"
  const timeElement = document.getElementById("time");

  // Get the next Monday
  const nextMonday = getNextMonday();

  // Format the date and time
  const formattedDate = nextMonday.toLocaleString("en-US", {
    weekday: "long", // long-format weekday
    hour: "numeric", // numeric hour
    minute: "numeric", // numeric minute
    hour12: true, // 12-hour format
    timeZoneName: "short", // short timezone name
  });

  // Output the formatted date and time
  timeElement.innerHTML = formattedDate;
</script>
