<div
  class="py-12 md:py-16 lg:py-10 grid grid-cols-1 lg:grid-cols-2 gap-14 justify-between text-primary-lightest-2 items-center text-center lg:text-left"
>
  <div>
    <h1
      class="text-2xl lg:text-3xl text-primary-lightest-2 font-black uppercase"
    >
      What is
      <span class="text-secondary">carbon hack?</span>
    </h1>
    <p class="mt-8 text-sm lg:text-base flex flex-col gap-4">
      <span>
        In 2024, Carbon Hack is about how we measure the environmental impact of
        software.
      </span>
      <span>
        Until now, no single solution has managed to calculate software’s
        impacts across all components, across all environments.
      </span>
      <span>
        Impact Framework (IF), an open source project, attempts to do just that,
        be it for carbon emissions, water or land usage, or other chemical
        impacts.
      </span>
      <span>
        For 3 weeks in the early spring, developers and engineers will compete
        to showcase their best application of IF in measuring the ecological
        footprint of software.
      </span>
    </p>

    <a
      href="sign-up"
      class="mt-8 inline-block py-3 px-6 bg-secondary hover:bg-secondary-light text-primary-darkest text-sm font-bold rounded-md focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-primary-darkest transition-all duration-300 ease-in-out"
    >
      Learn More
    </a>
  </div>
  <img
    src="/assets/images/what-is-carbon-hack-layer.svg"
    alt="What is Carbon Hack layer"
    class="mx-auto lg:mx-0"
  />
</div>
