---
import TimelineCard from "./TimelineCard.astro";
const timelineCards = [
  {
    date: "15 January",
    event: "Registration begins",
    phase: "current phase",
  },
  { date: "26 February", event: "Hackathon Starts" },
  {
    date: "15 March",
    event: "End of Hackathon & Project Submission",
  },
  { date: "27 March", event: "Awards Ceremony" },
];
---

<section id="timeline">
  <div class="py-12 md:py-16 lg:py-10">
    <h1
      class="text-2xl lg:text-3xl text-primary-lightest-2 font-black uppercase"
    >
      Timeline
    </h1>

    <div class="mt-8 grid grid-cols-1 lg:grid-cols-4 gap-4">
      {
        timelineCards.map((card) => (
          <TimelineCard
            date={card.date}
            event={card.event}
            phase={card.phase}
          />
        ))
      }
    </div>
  </div>
</section>
