---
import AwardCard from "../Awards/AwardCard.astro";

const awards = [
  {
    title: "Beyond Carbon",
    description:
      "Any submission that demonstrates the application of IF beyond carbon. (e.g. water, waste, air quality)",
  },
  {
    title: "Best Plugin",
    description:
      "A model plugin that best supports and enhances the Impact Framework model plugin ecosystem.",
  },
  {
    title: "Best Content",
    description:
      "Best piece of content published about Impact Framework, an article, tutorial, video or how to guide.",
  },
  {
    title: "Best Contribution to the Framework",
    description:
      "Best contribution to the IF tooling itself. Adding a new feature or enhancing an existing one.",
  },
  // {
  //   title: "Under 18s",
  //   description:
  //     "Specific prize for Under 18s, drawn from across the above categories.",
  // },
  {
    title: "Best Undergraduate",
    description:
      "Specific prize for Undergrad Students, drawn from across the above categories.",
  },
];
---
<section id="awards">
<div class="py-12 md:py-16 lg:py-10">
  <h1 class="text-2xl lg:text-3xl text-primary-lightest-2 font-black uppercase">
    Awards
  </h1>

  <div class="mt-8 grid grid-cols-1 gap-4">
    {
      awards.map((award) => (
        <AwardCard
          title={award.title}
          description={award.description}
        />
      ))
    }
  </div>
</div>
</section>