---
import AwardCard from "../Awards/AwardCard.astro";

const awards = [
  {
    title: "Beyond Carbon",
    description:
      "A plugin that enables people to measure impacts beyond carbon. The plugin must output an environmental impact (e.g., water, waste, air quality)",
  },
  {
    title: "Best Plugin",
    description:
      "A plugin that best supports and enhances the Impact Framework ecosystem",
  },
  {
    title: "Best Content",
    description:
      "Best educational content published about Impact Framework, a case-story applying IF to a domain, tutorial, or video",
  },
  {
    title: "Best Contribution",
    description:
      "Any software solution that helps makes Impact Framework easier to use, for users creating/running manifest file and developers building plugins. This does not have to be a plugin and can be a separate application entirely.",
  },
  {
    title: "Best Undergraduate & Under 18",
    description:
      "We are also keen to broaden the opportunities for those who are studying, so we have specific prizes for Undergraduate Students and Under 18s, drawn from across the main categories.",
  },
];
---
<section id="awards">
<div class="py-12 md:py-16 lg:py-10">
  <h1 class="text-2xl lg:text-3xl text-primary-lightest-2 font-black uppercase">
    Awards
  </h1>

  <div class="mt-8 grid grid-cols-1 gap-4">
    {
      awards.map((award) => (
        <AwardCard
          title={award.title}
          description={award.description}
        />
      ))
    }
  </div>
</div>
</section>