---
import "../styles/globals.css";
import "@fontsource/nunito-sans";
import "@fontsource/nunito-sans/400.css";
import "@fontsource/nunito-sans/500.css";
import "@fontsource/nunito-sans/600.css";
import "@fontsource/nunito-sans/700.css";
import "@fontsource/nunito-sans/800.css";
import "@fontsource/nunito-sans/900.css";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/NavMenu/Navbar.astro";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{Astro.props.title}</title>
    <meta name="title" content="Carbon Hack" />
    <meta name="description" content="Carbon Hack Desc" />
    <ViewTransitions />
  </head>
  <body
    class="w-full max-w-xs md:max-w-xl lg:max-w-4xl xl:max-w-5xl mx-auto my-8 bg-primary-darkest text-balance"
    transition:animate="fade"
  >
    <img
      class="absolute top-0 right-0 hidden md:block md:w-3/12 lg:w-fit"
      src="/assets/images/hero-artwork-right.svg"
    />
    <img
      class="absolute top-0 left-0 hidden md:block md:w-3/12 lg:w-fit"
      src="/assets/images/hero-artwork-left.svg"
    />
    <img
      class="absolute md:top-[1700px] lg:top-[1400px] right-0 hidden md:block md:w-3/12 lg:w-fit"
      src="/assets/images/sponsors-artwork.svg"
    />
    <img
      class="absolute md:top-[1700px] lg:top-[1400px] right-0 hidden md:block md:w-3/12 lg:w-fit"
      src="/assets/images/sponsors-artwork.svg"
    />
    <img
      class="absolute md:top-[3000px] lg:top-[2200px] left-0 hidden md:block md:w-2/12"
      src="/assets/images/awards-artwork.svg"
    />
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
